<?xml version="1.0" encoding="utf-8"?>
<svg class="svg-defs" xmlns="http://www.w3.org/2000/svg">
<symbol id="svg-arrow" viewBox="0 0 141.732 141.732"><path d="M96.964 133.669l10.607-10.606-52.197-52.197 52.197-52.197L96.964 8.063 34.161 70.866z"/>
</symbol>
<symbol id="svg-down" viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" fill="#e9638e" d="M1.13 14.111L21.182 33.89l-.008.008 2.855 2.816.008-.009.009.009 2.865-2.826-.009-.008L46.87 14.185l-2.855-2.816-19.968 19.695L3.994 11.286z"/>
</symbol></svg>